/* Application-wide Styles */

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


body {
  margin: 1em;
  background-color: rgb(246, 248, 246);
}

h1 {
  color: rgb(22, 92, 51);
  font-size: 150%;
}

h2 {
  color: rgb(29, 116, 12);
  font-weight: lighter;
  font-size: 120%;
}

h3 {
  color: rgb(25, 99, 35);
  font-weight: lighter;
  font-size: 110%;
  margin-block-end: 0;
}

input[type="text"], button {
  color: rgb(13, 49, 11);
}

.selectable {
  cursor: pointer;
  color: rgb(10, 10, 9);
  background-color: #d7e6dc;
  padding: 5px;
  margin: 0px;
  border-radius: 5px;
}

.selectable:hover {
  color: #131a13;
  background-color: rgb(196, 209, 187);
}

.selectable.visited, a:link {
  background-color: #d9dfd7;
  color: rgb(10, 10, 9);
}

.selectable:active {
  background-color: #707a6f;
  color:
    rgb(33, 48, 40);
}


.detail {
  background-color: #d7e6dc;
}

.auth {   /* Authorities */
  font-size: 80%;
}


button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
  margin-bottom: 2px;
  border-radius: 5px;
  width: 180px;
  font-size: large;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 30px;
  float: right;
  /* same size as the label elements */
}

tr{
  margin-top: 20px;
  background-color: #d7e6dc;
}

form {
  /* Set form on left of the page */
  margin: 0;
  width: 200px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 5px;
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li+li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 180px;
  text-align: left;
  padding-bottom: 5px;
}

input,
textarea, select {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */

  /* Uniform text field size */
  width: 180px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}


input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: rgb(11, 27, 1);
}



textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}


